body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 500px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container1 {
  width: 400px;
  height: 500px;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product {
  margin-bottom: 20px;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.total,
.pdt1,
.pdt2,
.pdt3 {
  background-color: cornflowerblue;
}
